<%= div_for(contact) do %>
  <%= contact.first_name %>
  <%= contact.last_name %>
  <a href="mailto:<%= contact.email%>"><%= contact.email %></a>
  <%= contact.phone_number %>
  <%= link_to "Delete", contact, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>